<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">

<!-- <uniquifier>: Use a unique and descriptive class name -->
<!-- <weight>: Use a value from 100 to 900 -->
<style>    
  .outfit-thin,
    .last-name,
    h1
  
    {
      font-family: "Outfit", sans-serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
      color: #ffa25e;
    }

  .outfit-regular,
    h3
  
  {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #ffa25e;
  }

  .outfit-black,
    .site-header,
    h2
  
    {
      font-family: "Outfit", sans-serif;
      font-optical-sizing: auto;
      font-weight: 700;
      font-style: normal;
      color: #ffa25e;
    }
  
  .site-header{
    height: 6rem;
    max-height: 7rem;
    text-wrap: nowrap;
  }

  .youtube-video {
    aspect-ratio: 16 / 9;
    width: 100%;
    border-radius:20px;
  }

  .youtube-video-square {
    aspect-ratio: 1 / 1;
    width: 100%;
    border-radius:20px;
  }

  link-out{
    color: #000000;
    background-color: #ffa25e;
    font-size: 14px;
    font-weight: bold;
    border-radius: 20px;
    padding: 5px 15px;
  }

  link-out:hover{
    scale: 1.2;
  }

  blurb{
    font-size: 1.2rem;
    display:block;
  }

  .btn{
    font-family: 'Outfit';
    font-weight: bold;
  }

  .btn-green {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 4px 10px rgba(0, 0, 0, 0.12);
    background: #ffa25e;
    border: 2px solid #ffa25e;
    color: #000000;
  }

  .btn-green:hover {
    background: #000000;
    color: #ffa25e;
  }

  .label:not(g){
    display: inline-block;
    padding: 0.25em 0.65em;
    margin-right: 0.5rem;
    margin-left: 0.0rem;
    color: #ffa25e;
    text-transform: uppercase;
    vertical-align: middle;
    background-color: #00000000;
    border-radius: 10px;
    margin-bottom: 0px;
    border: 1px solid #ffa25e;
  }

</style>
