<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">

<!-- <uniquifier>: Use a unique and descriptive class name -->
<!-- <weight>: Use a value from 100 to 900 -->
<style>    
  .outfit-thin,
    .last-name,
    h1
  
    {
      font-family: "Outfit", sans-serif;
      font-optical-sizing: auto;
      font-weight: 100;
      font-style: normal;
    }

  .outfit-regular,
    h3
  
  {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }

  .outfit-black,
    .site-header,
    h2
  
    {
      font-family: "Outfit", sans-serif;
      font-optical-sizing: auto;
      font-weight: 900;
      font-style: normal;
    }
  
  .site-header{
    height: 6rem;
    max-height: 7rem;
  }

  .youtube-video {
    aspect-ratio: 16 / 9;
    width: 100%;
  }

  link-out{
    color: #000000;
    background-color: #ffa25e;
    font-size: 14px;
    font-weight: bold;
    border-radius: 20px;
    padding: 5px 15px;
  }
</style>
